= render 'common/errors', res: @answer
= @question.title
p
= @question.body
p

div.answers= render @question.answers.ordered

div.ask-question= render 'answers/form', answer: @answer if user_signed_in?