= render 'common/errors', res: @answer
h1= @question.title
p= @question.body
= link_to 'UP', up_vote_path(:question, @question), remote: true
= link_to 'DOWN', down_vote_path(:question, @question), remote: true
p score:
= @question.score
p Attachments:
ul
  - @question.attachments.each do |a|
    li= link_to a.file.filename, a.file.url


div.answers= render @question.answers.ordered

div.ask-question= render 'answers/form', answer: @answer if user_signed_in?