.comment-item {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 0.7rem;
}

.comment-icons {
  display: flex;
  justify-content: flex-end;
  color: #5b5b5b;
}

.comment-icons>i {
  font-size: 1.1em;
}
