@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT|Roboto+Condensed|Suez+One|Roboto+Slab');
* {
  margin: 0;
  padding: 0;
}

html, body, #container, #root, #provider {
  height: 100%;
}

body {
  overflow: hidden;
  background-color: #fbfbfb;
}

input[type="file" i] {
    align-items: baseline;
    color: inherit;
    text-align: start;
}

#container {
  display: flex;
  flex-direction: column;
}

#header {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #343434;
  border-bottom: 4px solid #59595A;
  font-family: 'Suez One', sans-serif;
}

#content {
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
  padding: 0 5%;
}

a {
  color: #FA713E;
  text-decoration: none;
  transition: all.6s ease;
  cursor: pointer;
}

a:hover {
  color: #C34F25;
  text-decoration: none;
  transition: all.6s ease;
}

.material-icons:hover {
  color: red;
  transition: all.6s ease;
}

.material-icons, .pointer {
  cursor: pointer;
  color: #486DAA;
  transition: all.6s ease;
}
