@import url('https://fonts.googleapis.com/css?family=Forum');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.topic-layout {
  font-family: 'Forum', cursive;
}

h1 {
  margin-top: 1.3rem;
  border-bottom: 1px solid #e2e2e2;
  color: #5b5b5b;
  width: 100%;
}

.votes {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  color: #5b5b5b;
}

.votes>i {
  font-size: 2.5em;
  cursor: pointer;
}

.score {
  font-size: 2em;
}

.hidden {
  display: none;
}

.post-layout {
  display: flex;
  border-bottom: 1px solid #e2e2e2;
}

.post-layout-left {
  flex-grow: 0;
}

p {
  clear: both;
}

.post-text {
  font-size: 1.4em;
  word-wrap: break-word;
  line-height: 1.3;
  margin-top: 1rem;
  margin-bottom: 2em;
}

.post-layout-right {
  flex-grow: 1;
}

.comment-icons {
  display: flex;
  justify-content: flex-end;
  color: #5b5b5b;
}

.comment-icons>i {
  font-size: 1.1em;
  cursor: pointer;
}

.comment-layout {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 0.7rem;
}
