#container {
  display: flex;
  flex-direction: column;
}

#header {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #343434;
  border-bottom: 4px solid #59595A;
  font-family: 'Suez One', sans-serif;
}

#content {
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
  padding: 0 5%;
}
