.topic-layout {
  font-family: 'Forum', cursive;
}

.post-layout {
  display: flex;
  margin-bottom: 1.5rem;
}

.post-layout-right>div>p {
  margin-top: 1rem;
}

.post-layout-right>div>button {
  margin-top: 1rem;
}

.post-layout-left {
  flex-grow: 0;
  display: flex;
  margin-right: 1rem;
  flex-direction: column;
  align-items: center;
}

.post-text {
  word-wrap: break-word;
  line-height: 1.3;
  margin-top: 1rem;
  margin-bottom: 3em;
}

.post-avatar {
  border-radius: 5px;
}

.post-layout-right {
  flex-grow: 1;
  border: 1px solid #d1d5da;
  border-radius: 5px;
  padding: 1rem;
  padding-top: 0;
}

.post-layout-right-header {
  display: flex;
  justify-content: space-between;
  padding: 0.9rem;
  background-color: #f6f8fa;
  margin: 0 -1rem;
  border-bottom: 1px solid #d1d5da;
}

.post-layout-right>form>div>div>input, .post-layout-right>form>input  {
  margin-top: 1rem;
}

.post-layout-right>form {
  margin-top: 1rem;
}

.flex-right, .flex-right>i, .flex-right>a>i {
  font-size: 1em;
}

p {
  clear: both;
}

.headr-btn:hover {
  cursor: pointer;
  border-bottom: 2px solid rgba(217, 91, 72, 1);
  margin-top: 7px;
}

.headr-btn:active {
  border-bottom: 0;
  margin-top: 9px;
}

.btn_off {
  color: white;
  margin-right: 2rem;
  border-radius: 5px;
  padding: 5px 9px;
  font-size: 0.7em;
  background-color: rgba(236, 101, 80, 1);
  text-shadow: #454545 0 0 2px;
  border-bottom: 2px solid rgba(217, 91, 72, 1);
}
