.header-btn:hover {
  cursor: pointer;
  border-bottom: 2px solid rgba(217, 91, 72, 1);
  margin-top: 7px;
}

.header-btn:active {
  border-bottom: 0;
  margin-top: 9px;
}

.header-btn {
  color: white;
  float: right;
  margin-right: 3%;
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px 9px;
  font-size: 1.2em;
  background-color: rgba(236, 101, 80, 1);
  text-shadow: #454545 0 0 2px;
  border-bottom: 4px solid rgba(217, 91, 72, 1);
}
