.post-layout-right>form {
  margin-top: 1rem;
}

.post-layout-right>form>div>div>input {
  margin-bottom: 1rem;
}

.answer-form {
  position: relative;
}

.answer-form>span>i {
  position: absolute;
  right: 1%;
  top: 25%;
}
